
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
    --font-heading: 'Noto Serif', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
    --font-body: 'SN Pro', sans-serif;
    --color-primary: #fd5a48;
     --color-secondary: #ff8e6e;
}

main {
    @apply w-full min-h-dvh relative
}

@layer {
    .center {
        @apply flex justify-center items-center
    }
    .grid {
        @apply absolute w-full h-full top-0 left-0 flex gap-10 justify-center items-center
    }
    .grid > div {
        @apply h-full w-1/10 bg-gray-300 opacity-20 rounded-lg
    }
    .btn {
        @apply transition-colors duration-300 ease-in-out rounded-full text-xs lg:text-sm font-body cursor-pointer
    }
    .links {
        @apply hover:text-green-500 hover:border-b-2 hover:border-green-500
    }
    .how-it-works-top {
        @apply text-[2.5vw] lg:text-xs uppercase text-[#333] font-body tracking-widest font-semibold
    }
    .profileIconCls {
        @apply size-10 rounded-full object-scale-down border-2 border-white
    }
    .communityTags {
        @apply w-fit text-sm font-body text-center text-gray-500 px-2 py-1 cursor-pointer hover:text-black
    }
    .pointer {
        @apply cursor-pointer
    }
}